*{
    padding: 0px;
    margin: 0px;
}
table{
    background-color: #f7f7f7;
}
#right{
    margin-left: 100px;
}
#input-1st{
    border-radius: 10px;
    height: 25px;
    width: 220px;
}
.left-bar{
    overflow: scroll;
    display: flex;
    flex-direction: column;  
    width: 300px;
    background-color: #f7f7f7;
    /* border: 1px solid #000; */
    height: 400px;  
}
.lower-bar{
    display: flex;
    align-items: flex-end;
    flex-direction: column;  
    width: 300px;
    background-color: #f7f7f7;
}
.display{
    display: inline;

}