*{
    padding: 0px;
    margin: 0px;
    background-color: #f7f7f7;
}
table{
    background-color: #f7f7f7;
}
.main{
    display: flex;
}
.final-bar{
    display: flex;
    flex-direction: column;
}
#right{
    margin-left: 100px;
}
#input-1st{
    border-radius: 10px;
    height: 25px;
    width: 220px;
}
.left-bar{
    overflow: scroll;
    display: flex;
    flex-direction: column;  
    width: 300px;
    background-color: #f7f7f7;
    /* border: 1px solid #000; */
    height: 400px;  
}
.lower-bar{
    display: flex;
    overflow: scroll;
    /* align-items: flex-end;   */
    width: 300px;
    height: 200px;
    background-color: #f7f7f7;
}
#see-more{
    margin-left: 120px; 
}
#select{
    background-color: #cbdee3;
    height: 30px;
}
.display{
    display: inline;

}
.content{
    display: flex;
    flex-direction: row;
}
.down{
    display: flex;
    /* flex-direction: column; */
}
.right-bar{
    overflow: scroll;
    display: flex;
    flex-direction: column;  
    width: 300px;
    background-color: #f7f7f7;
    /* border: 1px solid #000; */
    height: 400px; 
}
